// 여러 파일에서 사용되는 sass 변수 및 mixin

//COLOR
$color-primary-400: rgb(0, 90, 238);
$color-primary-300: rgb(99, 138, 201);
$color-secondary-300: rgb(235, 232, 232);
$color-secondary-200: rgb(209, 232, 238);
$color-secondary-100: rgb(255, 255, 255);

//SIZE
$height-md: 300px;
//MIXIN
@mixin button($bg-color, $color) {
  background-color: $bg-color;
  color: $color;
  border-style: none;
  height: 40px;
  width: fit-content;
  padding: 8px 25px;
  border-radius: 10px;
}

//animation
@mixin start {
  opacity: 0;
}

@mixin end {
  opacity: 1;
  transition: opacity 0.5s;
  //opacity가 변경될때 0.5초에 걸쳐서 변경해주세요
}

//style

@mixin hidden {
  display: none;
}

@mixin show {
  display: block;
}