// 여러 파일에서 사용되는 sass 변수 및 mixin

//COLOR
$color-primary-400: rgb(108, 88, 76);
$color-primary-300: rgb(169, 132, 103);
$color-secondary-400: rgb(213, 189, 175);
$color-secondary-300: rgb(245, 235, 224);
$color-secondary-200: rgb(221, 231, 193);
$color-secondary-100: rgb(255, 255, 255);

//SIZE
$height-md: 300px;
//MIXIN
@mixin button($bg-color, $color) {
  background-color: $bg-color;
  color: $color;
  padding: 5px 20px;
  width: 100px;
  height: 50px;
  font-weight: 600;
  border-radius: 20% 0 20% 0;
}

//animation
@mixin start {
  opacity: 0;
}

@mixin end {
  opacity: 1;
  transition: opacity 0.5s;
  //opacity가 변경될때 0.5초에 걸쳐서 변경해주세요
}

//style

@mixin hidden {
  display: none;
}

@mixin show {
  display: block;
}
