@import "utils";

.cartBox {
  width: 95%;
  margin: auto;
}
thead {
  border-bottom: solid rgb(80, 79, 79) 3px;
}

td {
  width: 20%;
}
.cartFont {
  font-weight: 600;
}

.cartBtn,
.deletBtn {
  border: none;
  background-color: $color-secondary-200;
}

.cartBtn {
  width: 30px;
}
.deletBtn {
  width: 65px;
}
.productAmount,
.finalPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productAmount {
  height: 90px;
}

h4 {
  font-weight: 700;
}

.totalPrice {
  color: rgb(241, 193, 87);
  font-weight: 600;
  font-size: 23px;
}
