@import "utils";

.cartBox {
  width: 95%;
  margin: auto;
}
thead {
  border-bottom: solid rgb(80, 79, 79) 3px;
}

td {
  width: 20%;
}
.cartFont {
  font-weight: 600;
}
.orderFont {
  font-weight: 700;
  font-size: 22px;
  color: rgb(33, 40, 129);
}

.cartBtn,
.deletBtn,
.selectDelete {
  border: none;
  background-color: $color-secondary-300;
}
.selectDelete {
  margin-left:-80%;
}

.cartBtn {
  width: 30px;
}
.deletBtn {
  width: 30px;
}
.productAmount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productAmount {
  height: 90px;
}

.empty {
  margin: auto;
  width: 95%;
  background-color:rgb(227, 238, 241);
  height: 300px;
  margin-top: 100px;
  line-height: 300px;
  background-position: center;
  

}

.totalPrice {
  color: rgb(241, 193, 87);
  font-weight: 600;
  font-size: 23px;
}
