@import "utils";

.start {
  @include start;
}
.end {
  @include end;
}

.notice {
  margin-top: 20px;
}
.shipment,
.noticeIssue {
  margin-top: 50px;
}
.noticeImg {
  background-position: center;
}
.detailCut {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 500px;
}
.detailTable {
  margin-top: 70px;
}
table {
  border-width: 0;
}

.productContent {
  word-break: break-all;
}
td {
  width: 33%;
}
