@import "utils";

* {
  box-sizing: border-box;
  text-align: center;
}

.mainBg {
  height: $height-md;
  background-image: url("../furniture5.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
}

.content {
  height: $height-md;
}
.contentWord {
  height: $height-md;
  font-size: 100px;
  font-weight: 700;
  color: $color-secondary-300;
  line-height: $height-md;

  animation: word 1 5s linear;
}

.productName {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0;
}

.moreBtn {
  font-weight: 600;
  margin: auto;
  @include button($color-secondary-200, $color-primary-300);
}

.hidden {
  @include hidden;
}

.show {
  @include show;
}

@keyframes word {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 420px) {
  .col {
    flex-direction: column;
  }

  .contentWord {
    font-size: 30px;
  }
}

@media screen and (min-width: 421px) and (max-width: 1022px) {
  .contentWord {
    font-size: 50px;
  }
}

@media screen and (min-width: 1023px) {
  .contentWord {
    font-size: 70px;
  }
}
